fastapi
uvicorn
gunicorn
pydantic
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pandas
numpy
groq
scikit-learn
matplotlib
seaborn
reportlab
python-dotenv
requests
streamlit>=1.35.0
scipy
altair<5